@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

body{
    overflow: hidden;
    font-family: poppins, sans-serif;
    color: white;
    font-size: 1vw;
}





.notify-container{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    top: 1vw;
    right: 1vw;
    min-width: 15vw;
    height: 80%;
    
}


.notify{
    position: relative;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    right: 150px;
    min-width: 15vw;
    height: 4.5vw;
    background: #15191C;
    border-radius: 0.3vw;
    right: -20vw;
}

.data{
    margin-left: 1vw;
}

.header{
    font-weight: bold;
    font-size: 0.8vw;
}

.desc{
    font-size: 0.7vw;
}

.icon {
    display: flex;
    height: 3vw;
    width: 3vw;
    background: #1E2A32;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}



